<main>
    <section class="tarefas">
        {{#each tarefas}}
        <div class="tarefa">
            <form action="">
                {{#if this.completa}}
                <div class="completa">
                    <input type="checkbox" id="tarefa-{{this.ID}}" checked onchange="descompletarTarefa({{this.ID}})">
                    <label for="tarefa-{{this.ID}}">{{this.descricao}}</label>
                </div>
                {{else}}
                <div>
                    <input type="checkbox" id="tarefa-{{this.ID}}" onchange="completarTarefa({{this.ID}})">
                    <label for="tarefa-{{this.ID}}">{{this.descricao}}</label>
                </div>
                {{/if}}
                <button onclick="excluirTarefa({{this.ID}})">
                    <img src="/imagens/x-icon.png" alt="icone x">
                </button>
            </form>
        </div>
        {{/each}}
        <div class="informacoes">
            <p>{{quantidadeTarefas}} Tarefas Completas</p>

            <div class="botoes">
                <a href="/">All</a>
                <a href="/ativas" class="active">Active</a>
                <a href="/completas">Completed</a>
            </div>

            <a href="limparTarefas">Clear Completed</a>
        </div>
    </section>
    <section class="botoes">
        <a href="/">All</a>
        <a href="/ativas">Active</a>
        <a href="/completas" class="active">Completed</a>
    </section>
</main>